---
import Layout from '@/layouts/Layout.astro';
import Heading from '@/components/sections/Heading.astro';
import ImageText from '@/components/sections/ImageText.astro';

import img from '@images/marquenterre/1.jpg';
import img2 from '@images/marquenterre/2.jpg';
import img3 from '@images/marquenterre/3.jpg';
import img4 from '@images/marquenterre/4.jpg';
import img5 from '@images/marquenterre/5.jpg';
import img6 from '@images/marquenterre/6.jpg';
---

<Layout
  title="Marquenterre"
  structuredData={{
    '@context': 'https://schema.org/',
    '@type': 'Organization',
    name: 'Cercle Hippique de Gouvieux',
    description: 'Le Cercle Hippique de Gouvieux est ouvert et dirigé par Stéphanie Dorothée depuis le 1er avril 1997.',
    url: 'https://cerclehippiquedegouvieux.com',
    sameAs: ['https://www.facebook.com/cerclehippiquedegouvieux'],
  }}
>
  <Heading
    title="Le Marquenterre"
    description="Véritable <span class='text-teal-800 dark:text-teal-500'>semaine de rêve</span> au bord de la mer, le Marquenterre restera un <span class='text-teal-800 dark:text-teal-500'>souvenir inoubliable</span>"
  />

  <ImageText
    title="Au programme"
    description="Balades à poney ou à cheval sur la plage tous les jours, jeux et activités créatives, balades à vélo, soirées crêpes, boom et pleins d'autres surprises!"
    image1={img2}
    image2={img}
  />

  <ImageText
    reversed={true}
    title="L’édition 2025"
    description="Elle se tiendra du samedi 19 juillet au samedi 26 juillet et du samedi 26 juillet au samedi 02 août. Vous pouvez participer à une semaine comme aux deux !"
    image1={img3}
    image2={img4}
  />

  <ImageText
    title="Des questions ?"
    description="N'hésitez pas à nous contacter pour toute question ou demande de renseignements."
    image1={img5}
    image2={img6}
    cta={{
      title: 'Contactez-nous',
      url: 'mailto:marquenterre@cerclehippiquedegouvieux.com',
    }}
  />
</Layout>
