---
import Icon from '@components/ui/icons/Icon.astro';

interface PricingItem {
  name: string;
  description: string;
  price: string;
  billingFrequency: string;
  features: string[];
}

interface Props {
  title: string;
  subTitle: string;
  items: PricingItem[];
}

const { title, subTitle, items } = Astro.props;
---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      {title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {subTitle}
    </p>
  </div>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {
      items.map((item, index) => (
        <div
          class={`w-full rounded-xl p-6 sm:p-8 ${
            index === 1 ? 'bg-gradient-to-tr from-teal-800 to-teal-600 text-white' : 'bg-gray-800 text-neutral-100'
          }`}
        >
          <div class="mb-4">
            <h3 class="text-2xl font-bold sm:text-3xl">{item.name}</h3>
            <p class={index === 1 ? 'text-neutral-300' : 'text-indigo-300'}>{item.description}</p>
          </div>

          <div class="mb-4">
            <span class="text-4xl font-bold">{item.price}</span>
            <span class="ms-3 text-sm">{item.billingFrequency}</span>
          </div>

          <ul class="mb-6 space-y-2">
            {item.features.map((feature) => (
              <li class="flex items-center gap-1.5">
                <Icon name="checkCircle" />
                <span>{feature}</span>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
